<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nextjob.back.notification.service.NotificationMapper">

    <select id="findNotificationsByUserId" resultType="CamelCaseMap">
        SELECT notification_id, title, content, is_read, notification_type, create_date FROM notifications
        WHERE user_id = #{userId}
        ORDER BY create_date DESC
    </select>

    <select id="markNotificationAsRead" resultType="CamelCaseMap">
        UPDATE notifications
        SET is_read = TRUE
        WHERE notification_id = #{notificationId}
    </select>

    <select id="findNotificationByNotificationId" resultType="CamelCaseMap">
        SELECT notification_id, title, content, is_read, notification_type, create_date FROM notifications
        WHERE notification_id = #{notificationId}
    </select>

    <select id="readAllNotificationsByUserId" resultType="CamelCaseMap">
        UPDATE notifications
        SET is_read = TRUE
        WHERE user_id = #{userId}
    </select>

    <insert id="insertNotification">
        INSERT INTO notifications (
            title
          , content
          , notification_type
          , user_id
          , create_date
        ) VALUES (
           #{title}
         , #{content}
         , #{notificationType}
         , #{userId}
         , NOW()
         )
    </insert>
</mapper>