<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nextjob.back.project.service.ProjectMapper">

    <insert id="insertProject" parameterType="com.nextjob.back.project.domain.Project" useGeneratedKeys="true" keyProperty="projectId">
        INSERT INTO nextjob_db.projects
            (name, content, user_id, start_at, end_at, project_type, create_date, image, type)
        VALUES
            (#{name}, #{content}, #{creatorId}, #{startAt}, #{endAt}, #{projectType}, CURRENT_TIMESTAMP, #{image}, #{type});
    </insert>

    <!-- 프로젝트 상세 조회 -->
    <select id="findProjectDetail" resultType="CamelCaseMap">
        SELECT
            project_id,
            name,
            content,
            start_at,
            end_at,
            GetDetailCodeName('PROJECT_TYPE', project_type) AS project_type,
            image,
            type
        FROM projects
        WHERE project_id = #{projectId}
    </select>

    <!-- 프로젝트 팀장 조회 -->
    <select id="findProjectCreatorId" resultType="int">
        SELECT
            user_id
        FROM projects
        WHERE project_id = #{projectId}
    </select>

    <!-- 프로젝트 지원 -->
    <insert id="insertApplyRequest">
        INSERT INTO requests (
            project_id,
            user_id,
            request_type,
            request_status
        ) VALUES (
             #{projectId},
             #{userId},
             #{requestType},
             #{requestStatus}
         )
    </insert>

    <!-- 프로젝트 멤버 추가 -->
    <insert id="insertMember">
        INSERT INTO project_members (project_id, user_id, job_title)
        VALUES (#{projectId}, #{userId}, #{jobTitle});
    </insert>

    <!-- 프로젝트 멤버 확인 -->
    <select id="selectMemberByUserId" resultType="int">
        SELECT
            count(*)
        FROM project_members
        WHERE project_id = #{projectId} and user_id = #{userId}
    </select>
</mapper>