<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nextjob.back.drive.service.DriveMapper">
    <insert id="insertDrive">
        INSERT INTO drives (workspace_id, path) VALUES (#{workspaceId}, #{path});
    </insert>
    <insert id="insertBlob" parameterType="com.nextjob.back.drive.domain.Blob">
        INSERT INTO blobs (
            workspace_id,
            blob_url,
            drive_id,
            user_id,
            ext,
            name,
            size
        ) VALUES (
             (SELECT workspace_id FROM drives WHERE drive_id = #{driveId}),
             #{blobUrl},
             #{driveId},
             #{userId},
             #{ext},
             #{name},
             #{size}
        )
    </insert>

    <select id="findFileList" resultType="CamelCaseMap">
        /* DriveMapper.findFileList */
        SELECT b.name AS file_name
             , b.blob_url
             , b.ext
             , b.size
             , b.create_date
             , u.name AS user_name
             , b.blob_id
          FROM blobs b
    INNER JOIN users u
            ON b.user_id = u.user_id
         WHERE drive_id = #{driveId}
           AND delete_date IS NULL
         <if test="search != null and search != ''">
           AND b.name LIKE CONCAT('%', #{search}, '%')
         </if>
      ORDER BY create_date DESC
    </select>

    <select id="findUrl" resultType="String">
        /* DriveMapper.findUrl */
        SELECT blob_url
          FROM blobs
         WHERE blob_id = #{blodId}
    </select>

    <update id="deleteFile">
        /* DriveMapper.deleteFile */
        UPDATE blobs
           SET delete_date = NOW()
         WHERE blob_id = #{blobId}
    </update>
</mapper>
